---
import Socials from "./Socials.astro";
const year = new Date().getFullYear();
---

<footer class="mt-24">
	<div class="flex items-center justify-center gap-6 text-sm text-gray-500">
		<p class="text-center">
			© {year} Thanh Ha Khuong.<br />
			All rights reserved.
		</p>
	</div>
</footer>