---

---

<h1 class="heading">Ha,</h1>
<div class="paragraph">
  <p>
    I’m a Vietnamese student living in Germany, studying computer science and building practical, well-designed solutions. Curious, detail-oriented, and always improving step by step.
  </p>
</div>
