---
import IconGithub from "../assets/icons/brand-github.svg";
import IconLinkedin from "../assets/icons/brand-linkedin.svg";
---

<div class="flex items-center gap-5">
  <a href="https://github.com/khwowng" target="blank" aria-label="gitbub"
  ><IconGithub class="socials" /></a
  >
  <a href="https://www.linkedin.com/in/thanh-ha-khuong" target="blank" aria-label="linkedin"
  ><IconLinkedin class="socials" /></a
  >
</div>