---
import IconGithub from "../assets/icons/brand-github.svg";
import IconLinkedin from "../assets/icons/brand-linkedin.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://github.com/" target="blank" aria-label="gitbub"
    ><IconGithub class="socials" /></a
  >
  <a href="https://in.linkedin.com" target="blank" aria-label="linkedin"
    ><IconLinkedin class="socials" /></a
  >
</div>
